HOMEPAGE=http://127.0.0.1:9000/
SUPPORT_EMAIL=info@email.com
EMAIL_NOTIFICATION_SENDER=ABC <noreply@email.com>

DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=email-smtp.us-east-1.amazonaws.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=ABC <noreply@email.com>
EMAIL_LOGO_PATH=
SOURCE_ORIGIN=

ENVIRONMENT=dev
